In [7]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 4.2 MB/s
Requirement already satisfied: numpy>=1.15.4 in /home/mk/miniconda3/envs/fcnd/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/mk/miniconda3/envs/fcnd/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /home/mk/miniconda3/envs/fcnd/lib/python3.6/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /home/mk/miniconda3/envs/fcnd/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.5

In [8]:
import numpy as np
import pandas as pd

In [10]:
gps_df = pd.read_csv("Graph1.txt")
gps_df

        time   Quad.GPS.X
0   0.105000    -0.372319
1   0.205000     0.639987
2   0.305000    -0.736634
3   0.404998     0.869336
4   0.504997     0.180194
..       ...          ...
89  9.005009    -0.289986
90  9.105049     1.140563
91  9.205090     1.185306
92  9.305130    -0.568132
93  9.405170    -0.265926

[94 rows x 2 columns]

In [16]:
gps_df.iloc[:, 1].std()

0.7182107273234865

In [17]:
accel_df = pd.read_csv("Graph2.txt")
accel_df

          time   Quad.IMU.AX
0     0.005000      0.552092
1     0.010000      0.073913
2     0.015000      0.523375
3     0.020000     -0.426419
4     0.025000      0.916424
...        ...           ...
1895  9.480201     -0.225600
1896  9.485203      0.590324
1897  9.490205      0.051571
1898  9.495207      0.452314
1899  9.500209      0.617283

[1900 rows x 2 columns]

In [18]:
accel_df.iloc[:, 1].std()

0.48980337875764174